
input {
    border-style: none;
    border: white solid 2.5px;
    margin: 12px;
    border-radius: 12px;
    padding: 14px;
    font-size: 20px;
    width: 23%;
    font-weight: 700;
    transition: 384ms cubic-bezier(0.4, 0, 0.2, 1);
    font-family: 'Roboto', sans-serif;
}
body {
    transition: all 700ms linear 2s;
    
}
.body-background {
    background: linear-gradient(65deg, rgb(0, 221, 107),#e75cff);
    background-size: 140% 140%;
    background-color: black;
}


.button {
    width: 52px;
    border-radius: 100%;
    height: 52px;
    background-image: url(img/arrow.png);
    background-size: 36px;
    background-color: white;
    background-repeat: no-repeat;
    border: none;
    background-position: 8px 9px;
    box-shadow: -1px 0px 25px -10px;
}

input:focus {
    background-color:rgba(0, 0, 0, 0.5);
    color: white;
    transform: scale(1.1, 1.1);
    box-shadow: 0 0 61px -12px black;
    font-size: 28px;
    font-weight: 100;
    outline-style: none;   
}

.hidden {
    animation-name: fadeAndTransition;
    animation-timing-function: cubic-bezier(0.65, 0.01, 0.14, 0.93);
    animation-duration: 2s;
}

.hiddenbody {
    animation-name: fade;
    animation-timing-function: cubic-bezier(0.65, 0.01, 0.14, 0.93);
    animation-duration: 1.7s;
}

.dsnonebody {
    background-color: black;
}
.dsnone {
    opacity: 0;
}

@keyframes fadeAndTransition {
    from {
        opacity: 1;
        transform: translateX(0);
    }
    
    to {
        opacity: 0;
        transform: translateX(13%);
        
    }

}

@keyframes fade {
    from {
        opacity: 1;
    }
    
    to {
        opacity: 0; 
        background-image: none;
    }

}

h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    /* text-shadow: 0px 18px 90px black; */
    color: white;
    font-size: 65px;
}